.wrap {
  padding: 20px;
}

.prodbar {
  height: 10px;
  background-color: tomato;
  position: fixed;
  width: 100%;
  z-index: 5000;
}

.heroSm {
  height: 100px;
}

.splash {
  position: relative;
  height: 300px;
  background: linear-gradient(-0.3turn, #ff5e6d, #ff8872);
}

.splashContainer {
  position: relative;
}

.splashInfo {
  position: absolute;
  z-index: 10;
  text-align: center;
}

.splashPicContainer {
  position: absolute;
  z-index: 5;
  height: 100%;
  overflow: hidden;
}

.splashPic {
  width: 300px;
}

.copy {
  cursor: pointer;
}

.dashCard {
  height: 200px;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
}
