.wr {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.logo {
  width: 100px;
  height: 100px;
}

.lDev {
  fill: #ff5e6d;
}

.lProd {
  fill: white;
}

.formsignin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.standdown {
  background-color: #343a40;
}

.redalert {
  background-color: tomato;
}
