.pagecontent {
  width: calc(100% - 14.5rem);
  margin-left: 14.5rem;
  transition-property: margin-left;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  /*padding: 102px 0 0 0;*/
}

.contentActive {
  width: 100%;
  margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content {
    width: 100%;
    margin: 0;
  }
  .contentActive {
    margin-left: 14.5rem;
    width: calc(100% - 14.5rem);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
}
