.pagecontent {
  width: calc(100% - 12rem);
  margin-left: 12rem;
  transition: all 0.4s;
  padding: 86px 20px 0 20px;
}

.contentActive {
  width: 100%;
  margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content {
    width: 100%;
    margin: 0;
  }
  .contentActive {
    margin-left: 12rem;
    width: calc(100% - 12rem);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}