.dmif {
  outline: none;
  text-indent: 15px;
  width: 100%;
  background-color: #f5f5f5;
  border: 4px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  height: 54px;
  transition-property: background-color, border;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.dmif:focus {
  border: 4px solid #bbe8ff;
  background-color: white;
}

.dmif:invalid {
  border: 4px solid #ffbbc1;
  background-color: white;
}

.dmif:disabled {
  background-color: #fcfcfc;
}

.dmif:disabled::placeholder {
  color: #eee;
}

.dmife {
  outline: none;
  text-indent: 15px;
  width: 100%;
  background-color: #eee;
  border: 4px solid #f0e1e2;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  height: 54px;
  transition-property: background-color, border;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.dmife:focus {
  border: 4px solid #bbe8ff;
  background-color: white;
}

.dmife:invalid {
  border: 4px solid #ffbbc1;
  background-color: white;
}

.dmife:disabled::placeholder {
  color: #eee;
}

.c {
  padding-bottom: 20px;
}

.e {
  padding: 5px 4px 0 4px;
  color: #ff5e6d;
}

.pr {
  text-decoration: none;
  text-align: center;
  /*height: 50px;*/
  width: auto;
  text-decoration: none;
  transition-property: color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  /*color: white;*/
  /*background-color: #ff5e6d;*/
  color: white;
  background-color: #ff5e6d;
  border: 2px solid #ff5e6d;
  border-radius: 24px;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 20px;
}

.pr:hover:enabled {
  background-color: white;
  color: #ff5e6d;
}

.pr:focus:enabled {
  outline: none;
}

.pr:disabled {
  background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
}

.pri {
  margin-right: 10px;
  color: white;
}

.pr:hover:enabled .pri {
  color: #ff5e6d;
}

.cr {
  text-decoration: none;
  text-align: center;
  /*height: 30px;*/
  width: auto;
  text-decoration: none;
  transition-property: color, background-color, fill;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  /*color: white;*/
  /*background-color: #ff5e6d;*/
  color: white;
  background-color: #6c757d;
  border: 2px solid #6c757d;
  border-radius: 24px;
  font-weight: bold;
  font-size: 16px;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*flex-wrap: nowrap;*/
  padding: 5px 20px;
}

.cr:hover:enabled {
  background-color: white;
  color: #6c757d;
}

.cr:disabled {
  background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
}

.cr:focus {
  outline: none;
}

.cri {
  margin-right: 10px;
  color: white;
}

.cr:hover:enabled .cri {
  color: #6c757d;
}

.dr {
  text-decoration: none;
  text-align: center;
  /*height: 30px;*/
  width: auto;
  text-decoration: none;
  transition-property: color, background-color, fill;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  /*color: white;*/
  /*background-color: #ff5e6d;*/
  color: white;
  background-color: red;
  border: 2px solid red;
  border-radius: 24px;
  font-weight: bold;
  font-size: 16px;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*flex-wrap: nowrap;*/
  padding: 5px 20px;
}

.dr:hover:enabled {
  background-color: white;
  color: red;
}

.dr:disabled {
  background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
}

.dr:focus {
  outline: none;
}

.dri {
  margin-right: 10px;
  color: white;
}

.dr:hover:enabled .dri {
  color: red;
}

.br {
  text-decoration: none;
  text-align: center;
  /*height: 30px;*/
  width: auto;
  text-decoration: none;
  transition-property: color, background-color, fill;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  /*color: white;*/
  /*background-color: #ff5e6d;*/
  color: white;
  background-color: #6c757d;
  border: 2px solid #6c757d;
  border-radius: 50%;
}

.br:hover:enabled {
  background-color: white;
  color: #6c757d;
}

.br:disabled {
  background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
}

.br:focus {
  outline: none;
}

.bri {
  color: white;
}

.br:hover:enabled .bri {
  color: #6c757d;
}

.par {
  text-decoration: none;
  text-align: center;
  /*height: 50px;*/
  width: auto;
  text-decoration: none;
  /*color: white;*/
  /*background-color: #ff5e6d;*/
  color: #6c757d;
  background-color: white;
  border: 2px solid white;
  border-radius: 24px;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 20px;
}

.par:hover:enabled {
  background-color: white;
  color: #ff5e6d;
}

.par:focus:enabled {
  outline: none;
}

.par:disabled {
  background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
}

.pari {
  margin-right: 10px;
  color: #6c757d;
}

.par:hover:enabled .pari {
  color: #ff5e6d;
}

.imgViewer {
  position: relative;
  width: 100px;
  height: 100px;
}

.imgIconContainerWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ebecee;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imgIconContainer {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgIcon {
  color: #6c757d;
}

.imgContainer {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.zr {
  text-decoration: none;
  text-align: center;
  /*height: 30px;*/
  width: auto;
  text-decoration: none;
  /*color: white;*/
  /*background-color: #ff5e6d;*/
  color: #6c757d;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 24px;
  font-weight: bold;
  font-size: 16px;

  padding: 5px 20px;
}

.zr:hover:enabled {
  background-color: white;
  color: #ff5e6d;
}

.zr:disabled {
  background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
}

.zr:focus {
  outline: none;
}

.zri {
  margin-right: 10px;
  color: #6c757d;
}

.zr:hover:enabled .zri {
  color: #ff5e6d;
}

.spr {
  text-decoration: none;
  text-align: center;
  /*height: 50px;*/
  width: auto;
  text-decoration: none;
  transition-property: color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  /*color: white;*/
  /*background-color: #ff5e6d;*/
  color: white;
  background-color: #6c757d;
  border: 2px solid #6c757d;
  border-radius: 24px;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 20px;
}

.spr:hover:enabled {
  background-color: white;
  color: #6c757d;
}

.spr:focus:enabled {
  outline: none;
}

.spr:disabled {
  background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
}

.spri {
  margin-right: 10px;
  color: white;
}

.spr:hover:enabled .spri {
  color: #6c757d;
}
