body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f9ff;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrap {
  padding: 20px;
}

.pointer {
  cursor: pointer;
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 0;
  }
}

.ripple {
  width: 6rem;
  height: 6rem;
  margin: 6rem;
  border-radius: 50%;
  border: 0.6rem solid #ff5e6d;
  transform: translate(50%);
  animation: 1s ripple ease-out infinite;
}

.rounded {
  border-radius: 0.5rem !important;
}

.card-header:first-child {
  border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0 !important;
}

.color-dm-grey {
  color: #6c757d;
  fill: #6c757d;
}

.color-dm-pink {
  color: #ff5e6d;
  fill: #ff5e6d;
}

.nav-link {
  padding: 0.25rem 1rem !important;
}

.nav-link:hover {
  color: #ff5e6d;
}

.roundBtn {
  background: transparent;
  outline: none !important;
  width: 45px;
  height: 45px;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 50%;
  transition-property: background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  cursor: pointer;
}

.roundBtn:hover {
  outline: none;
  background-color: #ffbbc1;
}

.roundBtn:active {
  outline: none;
  background-color: #ff5e6d;
}

.decor {
  background: linear-gradient(-0.3turn, #ff5e6d, #ff8872);
}

.decorsolid {
  background-color: #E35360;
}

.sky {
  background: linear-gradient(-0.3turn, #5e84ff, #72b9ff);
}

.skysolid {
  background-color: #5070D9;
}

.gold {
  background: linear-gradient(-0.3turn, #ffbc5e, #fff272);
}

.goldsolid {
  background-color: #DCA252;
}

.violet {
  background: linear-gradient(-0.3turn, #B65EFF, #D772FF);
}

.violetsolid {
  background-color: #9F52DE;
}