.nav {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-wrap: nowrap;
}

.bl {
  background: transparent;
  outline: none !important;
  width: 45px;
  height: 45px;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 50%;
  transition-property: background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  cursor: pointer;
}

.bl:hover {
  outline: none;
  background-color: #ffbbc1;
}

.bl:active {
  outline: none;
  background-color: #ff5e6d;
}

.blf {
  background-color: #eee;
}

.pfb {
  background: transparent;
  outline: none;
  width: 35px;
  height: 35px;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.pfb:hover {
  background: #eee;
}

.pfb:active {
  background: #ffbbc1;
}

.pfbi {
  width: 31px;
  height: 31px;
  background-size: cover;
}

.mn {
  display: inline;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mn {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
}
