.verticalnav {
  min-width: 12rem;
  width: 12rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.4s;
  background-color: #ff5e6d;
  /*background: linear-gradient(-0.3turn, #ff5e6d, #FF8872);*/
  padding-top: 66px;
}

.sidebar {
  margin-left: 0;
}

.sidebarActive {
  margin-left: -12rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sidebar {
    margin-left: -12rem;
  }
  .sidebarActive {
    margin-left: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}