.verticalnav {
  min-width: 14.5rem;
  width: 14.5rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /*box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.05);*/
  /*transition: all 0.4s;*/
  transition-property: margin-left;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  background-color: white;
  /*background: linear-gradient(-0.3turn, #ff5e6d, #FF8872);*/
  padding-top: 75px;
}

.animate {
  transition-property: margin-left;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.sidebar {
  margin-left: -14.5rem;
}

.sidebar.active {
  margin-left: 0;
}

.sidebarActive {
  margin-left: 0;
}

.profile {
  border-radius: 50%;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sidebar {
    /*margin-left: -14.5rem;*/
    margin-left: 0;
  }
  .sidebarActive {
    margin-left: -14.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
}
