.card {
  cursor: pointer;
}

.grid {
  margin: 20px 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, minmax(320px, 320px));
  grid-auto-rows: 320px 320px;
  grid-auto-flow: dense;

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cardcolumns {
    column-count: 2;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    width: 20rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cardcolumns {
    column-count: 3;
  }
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
  .cardcolumns {
    column-count: 5;
  }
}
